<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.perhome.snapha.mapper.GroupMapper">

    <resultMap id="BaseTreeResultMap" type="cn.perhome.snapha.model.Group">
        <result column="gid" property="gid"/>
        <result column="parent_gid" property="parentGid"/>
        <collection column="gid" property="children" javaType="java.util.ArrayList"
                    ofType="cn.perhome.snapha.model.Group" select="getNextTreeList"/>
    </resultMap>

    <select id="getNextTreeList" resultMap="BaseTreeResultMap" parameterType="long">
        SELECT
            t1.name, t1.gsn, t1.gid, t1.parent_gid
        FROM "group" t1
        WHERE t1.parent_gid = #{gid} AND t1.deleted = 0
    </select>

    <select id="getTreeList" resultMap="BaseTreeResultMap" parameterType="long">
        SELECT
            t1.name, t1.gsn, t1.gid, t1.parent_gid
        FROM "group" t1
        WHERE t1.deleted = 0 AND t1.parent_gid = #{parentGid}
    </select>

    <select id="getLisByParentId" resultType="cn.perhome.snapha.entity.GroupEntity" >
        SELECT t1.*
        FROM "group" t1
        WHERE t1.parent_gid = #{parentGid}
        ORDER BY weight DESC
    </select>
</mapper>
